
.place__element{
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: radial-gradient(73.86% 25.61% at 0% 100%, rgba(255, 181, 61, 0.08) 0%, rgba(255, 181, 61, 0) 100%), #FFFEFC;
    border: 2px solid #FFFFFF;
}

.element__image-block{
    width: 100%;
    height: 400px;
    background: url("../images/place-elements/1.png");
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.element__white-block{
    width: 100%;
    height: 100%;
    background:linear-gradient(0deg, rgba(237, 238, 242, 0.6), rgba(237, 238, 242, 0.6)) ;

    display: flex;
    align-items: center;
    justify-content: center;    

    cursor: pointer;
}

.place__scrollbar{
    width: 300px;
    height: 2px;
    position: absolute;
    z-index: 50;
    bottom: 20px;
    left: 50%;       
    background-color: #FFFEFC;
    transform: translate(-50%, 0);
}

.place__button-prev,
.place__button-next{
    position: absolute;
    z-index: 50;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.place__button-prev{
    left: 38.23px;
}

.place__button-next{
    right: 38.23px;
}

.element__search{
    height: 64px;
    width: 64px;
    background-color: #FF2E51;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.element__text{
    padding: 30px 40px;
}

.element__head{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;

    color: #192040;
}

.element__description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #828299;
    margin-top: 10px;
}

.element__white-block_none{
    display: none;
}