.header{
    background-color: #ffffff;
    position: relative;
    z-index: 20;
}

.header__inner{
    display: flex;
    gap: 103px;
    height: 234px;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 10;
}

.header__menu{
    flex: 100%;
    position: relative;
    height: 100%;
}

.menu__body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: left .5s ease;
}

.menu__bottom-side{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
    z-index: 20;
}


.menu__catalog-btn{
    background-color: #FF2E51;
    width: 216px;
    height: 52px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: white;    
    cursor:pointer;
    position: relative;
}

.menu__catalog-icon{
    margin-top: 5px;
}

.menu__catalog-arrow{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.menu__ul li{
    display: inline-block;
    margin: 0 25px;
}

.menu__top-side{
    flex: 1;
    display: flex;
    border-bottom: 1px solid #ededf2;
    gap: 55px;
}

.menu__search-box{
    flex: 1;
    padding-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.menu__search-icon{
    top: 53%;
    left: 30px;
    transform: translateY(-50%);
    position: absolute;
}

.menu__search-box input{
    width: 100%;
    height: 52px;
    border-radius: 50px;
    border: 1px solid #ededf2;
    padding-left: 55px;
    line-height: 22.4px;
    font-size: 16px;
    color: #828299
}

.menu__links{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__contats-list{
    display: flex;
    gap: 50px;
    align-items: center;
}

.contact{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 51px;
}

.contact__head{
    font-size: 12px;
    font-weight: 400;
    color: #828299;
}

.contact__link{
    font-weight: 600;
}

.contact__email .contact__link{
    font-size: 18px;
}

.contact__phone .contact__link{
    font-size: 22px;
    margin-top: 13px;
}

.contact__link{
    font-weight: 600;
}

.menu__social-list{
    display: flex;
    align-items: center;
    gap: 10px;
}

.social{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #ededf2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__sub-ul{
    display: none;
}

/* ------------------------------ */

.menu__icons{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
    display: none;
    cursor: pointer;
}

.menu__icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #ededf2;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1350px){
    .menu__links{
        gap: 30px;
    }
}

@media screen and (max-width: 1150px) {

    .menu__icons{
        display: flex;
    }
    
    .header__logo img{
        width: 70px;
        height: 64px;
    }
    
    .header{
        border-bottom: 1px solid #ededf2;
    }

    .header__inner{
        height: 84px;
    }

    .menu__body{
        flex-direction: column-reverse;
        position: fixed;
        width: 100%;
        min-height: 100%;
        top: 83px;
        left: -100%;
        z-index: 50;
        justify-content: space-between;
        gap: 40px;
        overflow: auto;
    }

    .menu__search-box{
        display: none;
    }

    .menu__bottom-side{
        flex-direction: column;
        align-items: start;
        flex: none;
    }

    .menu__catalog-btn {
        width: 100%;
        height: 61px;
        border-radius: 0;
        justify-content: start;
        padding: 0 20px;
    }

    .menu__ul li{
        display: block;
        margin-top: 20px;
    }

    .menu__sub-ul {
        display: block;
        color: #828299;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        margin: 20px 0;
        margin-bottom: 40px;
    }

    .menu__sub-ul p{
        margin:5px 0;
    }

    .menu__top-side{
        flex-direction: column;
        flex: auto;
        padding: 0 20px;
    }

    .menu__links{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 25px;
    }

    .menu__contats-list{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .menu__social-list{
        gap: 16px;
    }
    .menu__social-list .social{
        border: 0px;
        width: 18px;
        height: 18px;
    }
        
    ._active{
        left: 0;
    }

}