*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
body{
    font-family: 'Gilroy';
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    text-decoration: none;
    list-style: none;
}

div{
    /* border: 1px solid black; */
}

.container{
    max-width: 1430px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    z-index: 20;
}

body{
    background: #FAF8F5;
}

.wrapper{
    position: relative;
    z-index: 10;
}

.btn:hover{
    background: #FA052E;
    box-shadow: 0px 15px 20px -15px #FF0D35;
}


@media screen and (max-width: 1430px){
    .container{
        padding: 0 20px;
    }
}