.products-swiper{
    width: 100%;
    overflow-x:hidden;
}

.swiper.products-swiper{
    overflow: visible;
}
.popular-products__wrapper{
    overflow-x:hidden !important;
    overflow-y:visible !important;
}

.product-navigation{
    margin-top: 44px;
    margin-bottom: 25px;
}

@media screen and (max-width: 700px) {
    .product-navigation{
        margin-top: 34px;
        margin-bottom: 0;
    }
}